<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AugustoHS | Peça seu site</title>
    <link rel="stylesheet" href="stylesheets/peca-seu-site-estilo.css">
    <link rel="stylesheet" href="stylesheets/bootstrap.css">
    <script type="text/javascript" src="javascripts/bootstrap.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display&family=Roboto+Slab:wght@200&display=swap"
        rel="stylesheet">

</head>

<body>

    <header>
        <nav class="navbar navbar-expand-lg ">
            <div class="container-fluid">
                <a class="navbar-brand" href="">AugustoHS</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                            class="bi bi-menu-app" viewBox="0 0 16 16">
                            <path
                                d="M0 1.5A1.5 1.5 0 0 1 1.5 0h2A1.5 1.5 0 0 1 5 1.5v2A1.5 1.5 0 0 1 3.5 5h-2A1.5 1.5 0 0 1 0 3.5v-2zM1.5 1a.5.5 0 0 0-.5.5v2a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 0-.5-.5h-2zM0 8a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8zm1 3v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2H1zm14-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2h14zM2 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0 4a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z" />
                        </svg>
                    </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#valores">O que é</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#vantagens">Vantagens</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#quemsou">Quem Sou</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#portfolio">Portfólio</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div id="cta-1">
        <div id="cta-1-content">
            <div id="cta-1-txt">
                <div class="cta-1-txt-content">
                    <div class="cta-1-title">
                        Consiga mais clientes, pacientes ou serviços
                    </div>
                    <div class="cta-2-subtitle">
                        Com um site próprio e anúncios no google você alcança mais visibilidade e passa
                        credibilidade
                        conseguindo novos clientes.
                    </div>
                    <div class="cta-btn-div">
                        <a class="cta-btn" href="https://wa.me/5567998051995?text=Eu%20quero%20pedir%20um%20site"
                            target="_blank">Pedir
                            site</a>
                        <a class="cta-btn" href="#valores">Saiba mais</a>
                    </div>
                </div>
            </div>

            <div id="cta-1-img">

            </div>
        </div>
    </div>

    <div id="valores">
        <div class="valores-header">
            <div class="val-txt-content">
                <div class="val-title">
                    O que é o serviço
                </div>
                <div class="val-subtitle">
                    Criação de site + Campanha do Google Ads
                </div>
                <div class="val-description">
                    Você terá seu próprio site para captar clientes, pacientes ou chamadas para serviços. Além disso,
                    terá sua campanha no Google Ads onde poderá desfrutar de todo o alcance que o Google tem na
                    internet.
                </div>
            </div>
        </div>
        <div class="vantagens" id="vantagens">
            Vantagens
        </div>
        <!-- Visibilidade -->
        <div class="val">
            <div class="val-content">
                <div class="val-img" id="val-visibilidade"></div>
                <div class="val-txt">
                    <div class="val-txt-content">
                        <div class="val-title">
                            Visibilidade na internet
                        </div>
                        <div class="val-subtitle">
                            Alcance mais pessoas com internet
                        </div>
                        <div class="val-description">
                            <p>Hoje o Google tem mais de 90% de todas as pesquisas na internet e 94,2% dos
                                brasileiro usam a internet para trocar mensagens. Ao ter uma campanha no Google Ads,
                                você vai desfrutar de todo o potencial do Google para
                                alavancar seu negócio ou serviço.</p>
                            <p> Além disso o seu site já será adaptado as regras
                                de SEO
                                (Search Engine Optimization) para
                                ter um melhor rendimento de forma orgâncica.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- CREDIBILIDADE -->
        <div class="val">
            <div class="val-content" id="invert">
                <div class="val-txt">
                    <div class="val-txt-content">
                        <div class="val-title">
                            Maior credibilidade no mundo digital
                        </div>
                        <div class="val-subtitle">
                            Passe mais confiança para as pessoas na internet
                        </div>
                        <div class="val-description">
                            <p>Ter um site que te apresenta, de forma organizada, eficiente e bem apresentada, traz a
                                confiança das
                                pessoas
                                na internet.</p>
                            <p>Isso diferenciará você de outros profissionais. Pois eles serão como desconhecidos, com
                                poucas e informações na internet, enquanto você
                                tera seu espaço próprio para se aprensentar e conquistar a confiança das pessoas.</p>
                        </div>
                    </div>
                </div>

                <div class="val-img" id="val-credibilidade">

                </div>
            </div>
        </div>
        <!-- cONVERSÃO DE CLIENTES -->
        <div class="val">
            <div class="val-content">
                <div class="val-img" id="val-cliente">

                </div>
                <div class="val-txt">
                    <div class="val-txt-content">
                        <div class="val-title">
                            Conversão de Clientes
                        </div>
                        <div class="val-subtitle">
                            Transforme pessoas em clientes/pacientes
                        </div>
                        <div class="val-description">
                            <!-- Tenha resultados mais expressivos usando a internet. -->
                            <p>Anunciando no Google, as pessoas irão te achar. E, ao entrarem no seu site, vão adquirir
                                confiança em você e seu trabalho.</p>
                            <p>Esse caminho permite que você, além de alcançar as pessoas, consiga acançar o
                                interesse delas para o seu trabalho. </p>
                            Assim você consegue converter pessoas em clientes.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- cONVERSÃO DE CLIENTES -->
        <div class="val">
            <div class="val-content" id="invert">
                <div class="val-txt">
                    <div class="val-txt-content">
                        <div class="val-title">
                            Resultados constantes, sem esforços constantes
                        </div>
                        <div class="val-subtitle">
                            Menos esforço para conseguir clientes ou serviços
                        </div>
                        <div class="val-description">
                            <p>Após criação de site e campanha no Google Ads o seu site vai ser anunciado no google
                                constantemente. Assim você não precisará se esforçar tanto para conseguir mais
                                clientes/pacientes ou sefviços.</p>
                        </div>
                    </div>
                </div>

                <div class="val-img" id="val-esforco">

                </div>
            </div>
        </div>
    </div>

    <!-- CTA2 -->
    <div id="cta-2">
        <div class="cta-1-txt-content" id="cta-2-txt-content">
            <div class="cta-1-title">
                Quer conquistar mais clientes / pacientes ou ter mais pedidos de serviço?
            </div>
            <div class="cta-2-subtitle" id="cta-2-subtitle">
                Peça já seu site e conquiste novos clientes.
            </div>
            <div class="cta-btn-div">
                <a class="cta-btn-black" id="cta-btn-big"
                    href="https://wa.me/5567998051995?text=Eu%20quero%20pedir%20um%20site" target="_blank">Pedir
                    site</a>
            </div>
        </div>
    </div>

    <!-- Quem sou -->
    <div class="quem" id="quemsou">
        <div class="quem-content">
            <div class="quem-foto"></div>
            <div class="quem-txt">
                <div class="quem-title">
                    Quem sou
                </div>
                <div class="quem-description">
                    <!-- quem sou -->
                    <p>Meu nome é Augusto. Eu sou um programador júnior e já fiz vários cursos de programação que me
                        deram
                        conhecimentos nas diversas áreas do desenvolvimento para web além de ser estudante de Ciência
                        da Computação na UFMS.</p>
                    <p>Atualmente sei programar com HTML, CSS, Javascript, além de saber trabalhar com Node.js e
                        Express.</p>
                    <p>Também sei criar e gerenciar campanhas no Google Ads.</p>
                    <p>Meu objetivo é crescer profissionalmente, ajudando você a aumentar seu negócio, seja você um
                        profissional liberal, autônomo ou uma pequena empresa.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Cursos -->
    <div class="cursos">
        <header class="cursos-header">
            <div class="curso-title big">
                Currículo
            </div>
            <div class="curso-description center">
                Estes são os cursos que já conclui
            </div>
        </header>
        <div class="cursos-content">
            <!-- TheWeb dev Botcamp -->
            <div class="curso">
                <div class="curso-content">
                    <div class="curso-img" id="theWebDev"></div>
                    <div class="curso-txt">
                        <div class="curso-title">
                            The Web Developer Bootcamp 2022
                        </div>
                        <div class="curso-subtitle">
                            63h
                        </div>
                        <div class="curso-description">
                            Curso que ensina desenvolvimento web full-stack. <br>
                            No front-end, trabalha com o básico,
                            HTML, CSS, Javascript além de ensinar a usar EJS. <br>
                            No back-end, ensina MongoDB, Node.js, Express
                            além de ensinar a usar outras bibliotecas como Maptify.
                        </div>
                    </div>
                </div>
            </div>
            <!-- Google Ads -->
            <div class="curso">
                <div class="curso-content">
                    <div class="curso-img" id="googleAds"></div>
                    <div class="curso-txt">
                        <div class="curso-title">
                            Google Ads Completo + Remarketing + Youtube Ads
                        </div>
                        <div class="curso-subtitle">
                            16h
                        </div>
                        <div class="curso-description">
                            Ensina tudo sobre Google Ads: os diferentes tipos de campanha, os diferentes objetivos de
                            campanha para que servem e quando usá-los. <br>
                            Além disso, ensina como anunciar no Youtube e remarketing.
                        </div>
                    </div>
                </div>
            </div>
            <!-- Curso Completo de Desenvolvimento Web -->
            <div class="curso">
                <div class="curso-content">
                    <div class="curso-img" id="completoDeDes"></div>
                    <div class="curso-txt">
                        <div class="curso-title">
                            Curso Completo de Desenvolvimento Web
                        </div>
                        <div class="curso-subtitle">
                            34h
                        </div>
                        <div class="curso-description">
                            Este curso de desenvolviment web ensina ensina o básico de programação web usando PHP.
                            <br>
                            No front-end ensina a montar páginas com HTML e CSS. <br>
                            No back-end usa-se PHP e MySQLite.
                        </div>
                    </div>
                </div>
            </div>
            <!-- UX UI -->
            <div class="curso">
                <div class="curso-content">
                    <div class="curso-img" id="ux"></div>
                    <div class="curso-txt">
                        <div class="curso-title">
                            UX &amp; UI Design Thinking
                        </div>
                        <div class="curso-subtitle">
                            11h
                        </div>
                        <div class="curso-description">
                            Neste curso aprendi a entender as necessidades do usuário, e como construir um produto que
                            seja voltado para o atendimento dessas necessidades. <br>
                            Nele aprendi a usar diversas ferramentas de UX como Jornada do Usuário, Persona, Business
                            Model Canvas. Além de aprender a usar eles em diversos processos com Scrum.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="port">
        <div class="vantagens" id="portfolio">
            Portfólio
        </div>
        <!-- Regina Miyahira -->
        <div class="val">
            <div class="val-content">
                <div class="val-img" id="regina"></div>
                <div class="val-txt">
                    <div class="val-txt-content">
                        <div class="val-title">
                            Psicóloga Regina Miyahira
                        </div>
                        <div class="val-subtitle">

                        </div>
                        <div class="val-description">
                            <p>Site feito para psicóloga Regina Miyahira para ajudar a aumentar a captação de novos
                                pacientes.</p>
                            <p>O site apresenta a psicóloga seu trabalho em algumas áreas específicas da terapia.</p>
                        </div>
                        <a class="cta-btn" href="https://reginamiyahira.com/" target="_blank">Visitar site</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Antonio Sérgio -->
        <div class="val">
            <div class="val-content" id="invert">
                <div class="val-txt">
                    <div class="val-txt-content">
                        <div class="val-title">
                            Psicólogo Antonio
                        </div>
                        <div class="val-subtitle">

                        </div>
                        <div class="val-description">
                            <p>Site feito para psicólogo Antonio Sergio para apresentá-lo de forma mais elegante e
                                eficiente.</p>
                            <p>Tem páginas separadas para abordar assuntos como Depressão e TCC, além de páginas para
                                contato.</p>
                        </div>
                        <a class="cta-btn" href="https://psicologoantonio.herokuapp.com/" target="_blank">Visitar
                            site</a>
                    </div>
                </div>
                <div class="val-img" id="antonio"></div>
            </div>
        </div>
        <!-- YelpCamp -->
        <div class="val">
            <div class="val-content">
                <div class="val-img" id="yelpcamp"></div>
                <div class="val-txt">
                    <div class="val-txt-content">
                        <div class="val-title">
                            YelpCamp
                        </div>
                        <div class="val-subtitle">

                        </div>
                        <div class="val-description">
                            <p>Site feito a partir do curso The Web Developer Bootcamp.</p>
                            <p>O site consegue cadastrar, editar e excluir usuários e acampamentos. Podendo adicionar
                                imagens e ocalizações no mapa</p>
                        </div>
                        <a class="cta-btn" href="https://mycodeyelpcamp.herokuapp.com/" target="_blank">Visitar
                            site</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CTA2 -->
    <div id="cta-3">
        <div class="cta-1-txt-content" id="cta-2-txt-content">
            <div class="cta-1-title">
                Tenha mais cliente / pacientes ou serviços
            </div>
            <div class="cta-2-subtitle" id="cta-2-subtitle">
                Peça já seu site e conquiste novos clientes
            </div>
            <div class="cta-btn-div">
                <a class="cta-btn-white" id="cta-btn-big"
                    href="https://wa.me/5567998051995?text=Eu%20quero%20pedir%20um%20site" target="_blank">Pedir
                    site</a>
            </div>
        </div>
    </div>

    <footer id="footer">
        <div class="f-content">
            Site Criado por <a href="https://www.linkedin.com/in/augusto-sakihama/">AugustoHS</a>
        </div>
    </footer>
</body>

</html>