


.u-section-1 {
  min-height: 50vw;
}

.u-section-1 .u-shape-1 {
  height: 606px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-1 .u-image-1 {
  height: 551px;
  width: 935px;
  box-shadow: 0 0 40px 0 rgba(26,26,26,1);
  object-position: 50% 48.2%;
  filter: brightness(0.7);
  margin: -506px calc(((100% - 1140px) / 2) + -144px) 0 auto;
}

.u-section-1 .u-group-1 {
  width: 760px;
  min-height: 163px;
  margin: -411px auto 60px calc(((100% - 1140px) / 2));
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-1 {
  margin: 6px 1px 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin-left: 1px;
  margin-right: 1px;
  margin-bottom: 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px auto 0 1px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-right: calc(((100% - 940px) / 2) + -144px);
  }

  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 3px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    height: 424px;
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 720px;
    margin-top: -284px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    height: 318px;
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-top: -178px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    height: 200px;
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: -60px;
    margin-left: calc(((100% - 340px) / 2));
  }
} .u-section-2 {
  min-height: 588px;
  margin-top: 15px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 588px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-2 .u-image-1 {
  width: 313px;
  height: 313px;
  background-image: url("../images/IMG_20210531_083352792_MP1.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 588px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 485px;
    margin-top: 75px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 485px;
  }

  .u-section-2 .u-image-1 {
    width: 292px;
    height: 292px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 485px;
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 371px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-1 {
    width: 240px;
    height: 240px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 371px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 768px;
    margin-top: 75px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 417px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 521px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 263px;
    padding-left: 30px;
    padding-right: 30px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 530px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 60px 0;
}

.u-section-3 .u-image-1 {
  min-height: 400px;
  background-image: url("../images/campgrounds.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 400px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin: 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px auto 0 0;
  padding: 5px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 30px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 330px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-3 .u-btn-1 {
    width: 99px;
    height: 33px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-image-1 {
    min-height: 253px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 162px;
  }

  .u-section-3 .u-image-1 {
    min-height: 285px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 56px;
  }

  .u-section-3 .u-image-1 {
    min-height: 179px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 196px;
}

.u-section-4 .u-text-1 {
  margin: 43px 59px 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  margin: 31px auto 43px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 502px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-5 .u-form-1 {
  width: 570px;
  margin: 30px auto 60px;
}

.u-section-5 .u-input-1 {
  text-transform: uppercase;
}

.u-section-5 .u-input-2 {
  text-transform: uppercase;
}

.u-section-5 .u-input-3 {
  text-transform: uppercase;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (max-width: 767px) {
  .u-section-5 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-form-1 {
    width: 340px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 168px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 30px auto 30px 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 108px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-6 .u-text-1 {
  font-size: 2.25rem;
  margin: 0 auto;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 108px;
}

.u-section-6 .u-container-layout-2 {
  padding: 29px 60px;
}

.u-section-6 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 164px;
  min-width: 68px;
  margin: 0 auto;
}

.u-section-6 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
}

.u-section-6 .u-icon-2 {
  height: 100%;
  color: rgb(197, 54, 164) !important;
}

.u-section-6 .u-icon-3 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 149px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 89px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 89px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 160px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 68px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 102px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 224px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 64px;
  }
}