body {
    margin: 0;
}

#cta-1 {
    background-color: black;
}

#cta-1-content {
    height: auto;
    min-height: 80vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#cta-1-img {
    width: 50%;
    min-height: 80vh;

    background-image: url('../img/cta1.jpg');
    background-size: cover;
    background-position: 50% 50%;
}

#cta-1-txt {
    width: 50%;

    font-family: 'Playfair Display', serif;
    font-size: larger;
    color: white;
}

.cta-1-txt-content {
    padding: 5%;
}

#cta-2-txt-content {
    text-align: center;
}

.cta-1-title {
    font-size: 50px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.07rem;
}

.cta-2-subtitle {
    font-size: 1.125rem;
}

#cta-2-subtitle {
    font-size: 1.5rem;
}

.cta-btn-div {
    margin: 1rem;
    margin-left: 0%;
}

.cta-btn {
    background-color: #055190;
    color: white;
    border: none;
    border-radius: 5%;
    padding: 0.5rem;
    font-weight: 700;
    font-size: 1rem;
    font-family: 'Playfair Display', serif;
    margin: 0.1rem;
}

.cta-btn-black {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5%;
    padding: 0.5rem;
    font-weight: 700;
    font-size: 1rem;
    font-family: 'Playfair Display', serif;
    margin: 0.1rem;
}

#cta-btn-big {
    font-size: 1.5rem;
    padding: 0.75rem;
}

#cta-2 {
    background-color: #055190;
}

@media (max-width: 576px) {
    #cta-1-content {
        min-height: auto;
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url('../img/cta1.jpg');
        background-size: cover;
        background-position: 50% 50%;
    }

    #cta-1-txt {
        width: 70%;
    }

    #cta-1-img {
        display: none;
    }
}

/* ----------------------- Valores ----------------------- */
.valores-header {
    text-align: center;
    background-color: #002134;
    color: white;
}

.vantagens {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 3.5rem;
    margin: 2rem;
}

.val-content {
    height: auto;
    min-height: 60vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 5rem 0;
}

.val-img {
    width: 49%;
    background-position: 50% 50%;

    height: auto;
    background-size: cover;
}

#val-visibilidade {
    background-image: url('../img/valVisibilidade.jpg');
}

#val-credibilidade {
    background-image: url('../img/valCredibilidade.jpg');
}

#val-cliente {
    background-image: url('../img/valCliente.jpg');
}

#val-esforco {
    background-image: url('../img/valEsforco.jpg');
}

.val-txt {
    width: 50%;

    color: black;

    font-family: 'Bebas Neue', cursive;
}

.val-txt-content {
    padding: 5%;
    font-family: 'Roboto Slab', serif;
}

.val-title {
    font-size: 3rem;
    font-family: 'Playfair Display', serif;
}

.val-subtitle {
    font-size: 1.5rem;
    font-family: 'Roboto Slab', serif;
}

.val-description {
    font-weight: 500;
    font-family: 'Roboto Slab', serif;
}

@media (min-width: 605px) and (max-width: 768px) {
    .val-img {
        height: 60vh;
        margin-top: 5%;
    }
}

@media (max-width: 604px) {
    #invert {
        flex-direction: column-reverse;
    }

    .val-img {
        height: 60vh;
        width: 100%;
    }

    .val-txt {
        width: 100%;
    }
}