body {
    margin: 0;
}

#cta-1 {
    background-color: black;
}

#cta-1-content {
    height: auto;
    min-height: 80vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#cta-1-img {
    width: 50%;
    min-height: 80vh;

    background-image: url('../img/cta1.jpg');
    background-size: cover;
    background-position: 50% 50%;
}

#cta-1-txt {
    width: 50%;

    font-family: 'Playfair Display', serif;
    font-size: larger;
    color: white;
}

.cta-1-txt-content {
    padding: 5%;
}

#cta-2-txt-content {
    text-align: center;
}

.cta-1-title {
    font-size: 50px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.07rem;
}

.cta-2-subtitle {
    font-size: 1.125rem;
}

#cta-2-subtitle {
    font-size: 1.5rem;
}

.cta-btn-div {
    margin: 1rem;
    margin-left: 0%;
}

.cta-btn {
    background-color: #055190;
    color: white;
    border: none;
    border-radius: 5%;
    padding: 0.5rem;
    font-weight: 700;
    font-size: 1rem;
    font-family: 'Playfair Display', serif;
    margin: 0.1rem;
    transition: 0.625s;
    text-decoration: none;
}

.cta-btn-black {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5%;
    padding: 0.5rem;
    font-weight: 700;
    font-size: 1rem;
    font-family: 'Playfair Display', serif;
    margin: 0.1rem;
    transition: 0.625s;
    text-decoration: none;
}

.cta-btn-white {
    background-color: white;
    color: black;
    border: none;
    border-radius: 5%;
    padding: 0.5rem;
    font-weight: 700;
    font-size: 1rem;
    font-family: 'Playfair Display', serif;
    margin: 0.1rem;
    transition: 0.625s;
    text-decoration: none;
}

#cta-btn-big {
    font-size: 1.5rem;
    padding: 0.75rem;
}

.cta-btn:hover {
    font-size: 1.1rem;
    background-color: #002134;
}

.cta-btn-black:hover,
.cta-btn-white:hover {
    font-size: 1.1rem;
    background-color: antiquewhite;
    color: #000;
}

#cta-2 {
    background-color: #055190;
}

#cta-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/cta3.jpg');
    background-size: cover;
    background-position: 50% 50%;
    color: white;
}

@media (max-width: 576px) {
    #cta-1-content {
        min-height: auto;
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/cta1.jpg');
        background-size: cover;
        background-position: 50% 50%;
    }

    #cta-1-txt {
        width: 70%;
    }

    #cta-1-img {
        display: none;
    }
}

/* ----------------------- Valores ----------------------- */
.valores-header {
    text-align: center;
    background-color: #002134;
    color: white;
}

.vantagens {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 3.5rem;
    margin: 2rem;
}

.val-content {
    height: auto;
    min-height: 60vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 5rem 0;
}

.val-img {
    width: 50%;
    background-position: 50% 50%;

    height: auto;
    background-size: cover;
}

#val-visibilidade {
    background-image: url('../img/valVisibilidade.jpg');
}

#val-credibilidade {
    background-image: url('../img/valCredibilidade.jpg');
}

#val-cliente {
    background-image: url('../img/valCliente.jpg');
}

#val-esforco {
    background-image: url('../img/valEsforco.jpg');
}

#regina {
    background-image: url('../img/regina.png');
}

#antonio {
    background-image: url('../img/antonio.png');
}

#yelpcamp {
    background-image: url('../img/yelpcamp.png');
}

.val-txt {
    width: 50%;

    color: black;

    font-family: 'Bebas Neue', cursive;
}

.val-txt-content {
    padding: 5%;
    font-family: 'Roboto Slab', serif;
}

.val-title {
    font-size: 3rem;
    font-family: 'Playfair Display', serif;
}

.val-subtitle {
    font-size: 1.5rem;
    font-family: 'Roboto Slab', serif;
}

.val-description {
    font-weight: 500;
    font-family: 'Roboto Slab', serif;
}

@media (min-width: 605px) and (max-width: 768px) {
    .val-img {
        height: 60vh;
        margin-top: 5%;
    }
}

@media (max-width: 604px) {
    #invert {
        flex-direction: column-reverse;
    }

    .val-img {
        height: 60vh;
        width: 100%;
    }

    .val-txt {
        width: 100%;
    }
}

/* --------------- QUEM SOU --------------- */
.quem-content {
    min-height: 30vh;
    height: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 4rem 0;
}

.quem-foto {
    width: 20%;

    background-image: url('../img/rosto.jpg');
    background-size: cover;
    background-position: 50% 70%;
    border-radius: 100%;

    min-height: 15rem;
}

.quem-txt {
    width: 60%;
    padding: 1rem;
    font-family: 'Roboto Slab', serif;
}

.quem-title {
    font-size: 3rem;
    font-family: 'Playfair Display', serif;
}

.quem-subtitle {
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    .quem-foto {
        width: 40%;
    }

    .quem-txt {
        width: 50%;
        padding: 1rem;
    }
}

@media (max-width: 576px) {
    .quem-foto {
        width: 80%;
        min-height: 25rem;
    }

    .quem-txt {
        width: 80%;
        padding: 1rem;
    }
}

/* ---------------- Cursos --------------- */
.cursos {
    background-color: #000;
}

.cursos-header {
    color: white;
    padding: 3rem;
    padding-bottom: 0;
}

.cursos-content {
    min-height: 30vh;
    height: auto;

    margin: 4rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.curso {
    width: 21.125rem;
}

.curso-content {
    min-height: 30rem;
    height: auto;

    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

    border-radius: 7.5%/5%;
    padding: 1rem;
    background-color: white;
    box-shadow: 0px 0px 7px grey;

}

.curso-img {
    height: 12.5rem;
    width: 100%;

    background-size: cover;
    background-position: 50% 70%;
}

#theWebDev {
    background-image: url('../img/theWebDevBootcamp.jpg');
}

#googleAds {
    background-image: url('../img/GoogleAds.jpg');
}

#completoDeDes {
    background-image: url('../img/CursoCompletoDeDesWeb.jpg');
}

#ux {
    background-image: url('../img/UX.jpg');
}

.curso-txt {
    font-family: 'Roboto Slab', serif;
    font-size: 0.9rem;
}

.curso-title {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    text-align: center;
}

.curso-subtitle {
    font-weight: 700;
}

.curso-description {
    font-family: 'Roboto Slab', serif;
}

.big {
    font-size: 3rem;
}

.center {
    text-align: center;
}